{{#liquid-if model.isNew use='toUp'}}
  <h1>Create task</h1>

  <br>
{{/liquid-if}}

<form class="form-horizontal" {{action 'submit' on='submit'}}>
  <div class="form-group">
    <label for="{{taskName.elementId}}" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      {{#if model.project.tracker.type}}
        {{ember-selectize
          tagName         = 'input'
          viewName        = 'taskName'
          plugins         = selectizePlugins
          placeholder     = 'Task name'
          optionValuePath = 'content.value'
          optionLabelPath = 'content.label'
          value           = model.name
          content         = issues
          loading         = fetchingIssues
          optionFunction  = model.project.autocomplete.selectizeOptionTemplate
          create          = true
          createOnBlur    = true
          create-item     = 'createTaskName'
          update-filter   = 'fetchIssues'
          select-item     = 'setTaskData'
          }}
      {{else}}
        {{input
          viewName     = 'taskName'
          placeholder  = 'Task name'
          value        = model.name
          class        = 'form-control'
          autocomplete = 'false'
          }}
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label for="{{taskDuration.elementId}}" class="col-sm-2 control-label">Duration (in hours)</label>
    <div class="col-sm-10">
      {{input viewName='taskDuration' type='number' class='form-control' value=model.duration}}
    </div>
  </div>
  <div class="form-group">
    <label for="{{taskFrom.elementId}}" class="col-sm-2 control-label">From</label>
    <div class="col-sm-10">
      {{date-picker viewName='taskFrom' class='form-control pointer' readonly=true date=model.from}}
    </div>
  </div>
  <div class="form-group">
    <label for="{{taskTo.elementId}}" class="col-sm-2 control-label">To</label>
    <div class="col-sm-10">
      {{date-picker viewName='taskTo' class='form-control pointer' readonly=true date=model.to}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{input type='checkbox' checked=model.done}}
          Done
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        {{#if model.isNew}}
          Create task
        {{else}}
          Update task
        {{/if}}
      </button>

      {{#unless model.isNew}}
        {{#delete-button class='pull-right' action='delete'}}
          Delete task
        {{/delete-button}}
      {{/unless}}
    </div>
  </div>
</form>
