{{#liquid-with pagedModels as |tasks|}}
  <table class="table">
    <colgroup>
      <col>
      <col width="100%">
      <col width="32">
    </colgroup>
    <thead>
      <tr>
        <th colspan="2">Name</th>
        <th>
          {{#link-to 'task.new' project tagName='button' class='btn btn-sm btn-default'}}
            <span class="glyphicon glyphicon-plus"></span>
            Create new task
          {{/link-to}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each tasks as |task|}}
        <tr>
          <td class="nowrap">
            {{#link-to 'task.edit' project task}}
              {{#if task.done}}
                <del>{{task.name}}</del>
              {{else}}
                {{task.name}}
              {{/if}}
            {{/link-to}}
          </td>
          <td colspan="2">
            {{task-progressbar task=task}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/liquid-with}}

{{#if showPager}}
  {{pagination-pager current=page count=totalPages}}
{{/if}}
