doctype 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= settings.title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    if user
      script
        Timed = { user: !{JSON.stringify(user, ['_id', 'attendances', 'name', 'projects', 'quota', 'from', 'to', 'activities', 'task'])} }
      script(src='/js/require.js', data-main='/js/main')
    block scripts
  body
    block navbar
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/') Timed
            .nav-collapse.collapse
              ul.nav
                if user
                  li(class=req.route.path == '/' ? 'active' : '')
                    a(href='/') Home
                  li
                    a#projects(href='#projects') Projects
                  li
                    a#customers(href='#customers') Customers
                  li
                    a#users(href='#users') Users
                li(class=req.route.path == '/about' ? 'active' : '')
                  a(href='/about') About
              if user
                ul.nav.pull-right
                  li
                    a(href='/logout') Logout

    if user
      #trackbar.container-fluid
        block trackbar
          - var today = moment().startOf('day')
          .attendance Attendance
            - var attendance = user.attendances[user.attendances.length - 1]
            if attendance
              - var from = moment(attendance.from)
              - var to   = moment(attendance.to)
              a.btn.btn-small.btn-inverse.mhs
                i.icon-white(class=to ? 'icon-play' : 'icon-stop')
              a.from.mhs= from.format(from > today ? 'LT' : 'LLL')
              span -
              a.to.mhs= to && to.format(from > today ? 'LT' : 'LLL') || from.fromNow(true)
            else
              a.btn.btn-small.btn-inverse.mhs
                i.icon-white.icon-play
              a.from.mhs
              span -
              a.to.mhs

          .activity Activity
            if attendance
              - var activity = attendance.activities[attendance.activities.length - 1]
            if attendance && activity
              - var task = tasks.filter(function(t) {
              -   return String(t._id) == String(activity.task)
              - })
              span.name.mhs= task[0] && task[0].name || ''
              - var from = moment(activity.from)
              - var to   = moment(activity.to)
              a.btn.btn-small.btn-inverse.mhs
                i.icon-white(class=to ? 'icon-play' : 'icon-stop')
              a.from.mhs= from.format(from > today ? 'LT' : 'LLL')
              span -
              a.to.mhs= to && to.format(from > today ? 'LT' : 'LLL') || from.fromNow(true)
            else
              a.btn.btn-small.btn-inverse.mhs
                i.icon-white.icon-play
              a.from.mhs
              span -
              a.to.mhs

    #main.container-fluid
      block content
