{{#if model.isNew}}
  <h1>Create project</h1>

  <br>
{{/if}}

<form class="form-horizontal" {{action 'submit' on='submit'}}>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      {{input id='name' placeholder='Project name' value=name class='form-control' autocomplete='false'}}
    </div>
  </div>
  <div class="form-group">
    <label for="customer" class="col-sm-2 control-label">Customer</label>
    <div class="col-sm-10">
      {{view Ember.Select
             id              = 'customer'
             class           = 'form-control'
             content         = customers
             valueBinding    = 'customer'
             optionLabelPath = 'content.name'
             optionValuePath = 'content'
             }}
    </div>
  </div>
  <div class="form-group">
    <label for="from" class="col-sm-2 control-label">From</label>
    <div class="col-sm-10">
      {{date-picker id='from' class='form-control pointer' readonly=true date=from}}
    </div>
  </div>
  <div class="form-group">
    <label for="to" class="col-sm-2 control-label">To</label>
    <div class="col-sm-10">
      {{date-picker id='to' class='form-control pointer' readonly=true date=to}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{input type='checkbox' checked=done value=1}}
          Done
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        {{#if model.isNew}}
          Create project
        {{else}}
          Update project
        {{/if}}
      </button>
    </div>
  </div>
</form>
