{{#liquid-if model.isNew use='toUp'}}
  <h1>Create project</h1>

  <br>
{{/liquid-if}}

<form class="form-horizontal" {{action 'submit' on='submit'}}>
  <div class="form-group">
    <label for="{{projectName.elementId}}" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      {{input viewName='projectName' placeholder='Project name' value=model.name class='form-control' autocomplete='false'}}
    </div>
  </div>
  <div class="form-group">
    <label for="{{projectCustomer.elementId}}" class="col-sm-2 control-label">Customer</label>
    <div class="col-sm-10">
      {{ember-selectize
        viewName        = 'projectCustomer'
        plugins         = null
        content         = customers
        selection       = model.customer
        optionLabelPath = 'content.name'
        optionValuePath = 'content.id'
        }}
    </div>
  </div>
  <div class="form-group">
    <label for="{{projectProjectLeaders.elementId}}" class="col-sm-2 control-label">Project Leaders</label>
    <div class="col-sm-10">
      {{ember-selectize
        viewName        = 'projectProjectLeaders'
        content         = users
        selection       = model.projectLeaders
        multiple        = true
        optionLabelPath = 'content.name'
        optionValuePath = 'content.id'
        }}
    </div>
  </div>
  <div class="form-group">
    <label for="{{projectTracker.elementId}}" class="col-sm-2 control-label">Bugtracker</label>
    <div class="col-sm-10">
      {{ember-selectize
        viewName = 'projectTracker'
        plugins  = null
        content  = trackers
        value    = model.tracker.type
        }}
    </div>
  </div>
  {{#liquid-spacer class='liquid-no-x-scroll'}}
    {{partial trackerPartial}}
  {{/liquid-spacer}}
  <div class="form-group">
    <label for="{{projectFrom.elementId}}" class="col-sm-2 control-label">From</label>
    <div class="col-sm-10">
      {{date-picker viewName='projectFrom' date=model.from}}
    </div>
  </div>
  <div class="form-group">
    <label for="{{projectTo.elementId}}" class="col-sm-2 control-label">To</label>
    <div class="col-sm-10">
      {{date-picker viewName='projectTo' date=model.to}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{input type='checkbox' checked=model.done}}
          Done
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        {{#if model.isNew}}
          Create project
        {{else}}
          Update project
        {{/if}}
      </button>

      {{#unless model.isNew}}
        {{#delete-button class='pull-right' action='delete'}}
          Delete project
        {{/delete-button}}
      {{/unless}}
    </div>
  </div>
</form>
