{{#liquid-if model.isNew use='toUp'}}
  <h1>Create project</h1>

  <br>
{{/liquid-if}}

<form class="form" {{action 'submit' on='submit'}}>
  {{#input-label class="form-group" label="Name" as |labelId|}}
    {{input id=labelId placeholder='Project name' value=model.name class='form-control' autocomplete='false'}}
  {{/input-label}}
  {{#input-label class="form-group" label="Customer" as |labelId|}}
    {{ember-selectize
      id              = labelId
      plugins         = null
      content         = customers
      selection       = model.customer
      optionLabelPath = 'content.name'
      optionValuePath = 'content.id'
      }}
  {{/input-label}}
  {{#input-label class="form-group" label="Project Leaders" as |labelId|}}
    {{ember-selectize
      id              = labelId
      content         = users
      selection       = model.projectLeaders
      multiple        = true
      optionLabelPath = 'content.name'
      optionValuePath = 'content.id'
      }}
  {{/input-label}}
  {{#input-label class="form-group" label="Bugtracker" as |labelId|}}
    {{ember-selectize
      id       = labelId
      plugins  = null
      content  = trackers
      value    = model.tracker.type
      }}
  {{/input-label}}
  {{#liquid-spacer class='liquid-no-x-scroll'}}
    {{partial trackerPartial}}
  {{/liquid-spacer}}
  {{#input-label class="form-group" label="From" as |labelId|}}
    {{date-picker id=labelId date=model.from}}
  {{/input-label}}
  {{#input-label class="form-group" label="To" as |labelId|}}
    {{date-picker id=labelId date=model.to}}
  {{/input-label}}
  {{#liquid-if model.isNew use='toUp'}}
    {{#input-label class="form-group" label="Tasks" as |labelId|}}
      {{#each taskTemplates as |tt|}}
        <div class="checkbox">
          <label>
            <input
             type="checkbox"
             onclick={{action 'toggleTaskTemplate' tt}}
            >
            {{tt.name}}
          </label>
        </div>
      {{/each}}
    {{/input-label}}
  {{/liquid-if}}
  <div class="form-group">
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=model.done}}
        Done
      </label>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      {{#if model.isNew}}
        Create project
      {{else}}
        Update project
      {{/if}}
    </button>

    {{#unless model.isNew}}
      {{#delete-button class='pull-right' action='delete'}}
        Delete project
      {{/delete-button}}
    {{/unless}}
  </div>
</form>
