{{#input-label class="form-group" labelClass="col-sm-2" label="URL" as |labelId|}}
  <div class="col-sm-10">
    {{input id=labelId placeholder='https://...' value=model.tracker.data.url class='form-control' autocomplete='false'}}
  </div>
{{/input-label}}
<div class="form-group">
  <label class="col-sm-2 control-label">Datatype</label>
  <div class="col-sm-10">
    <div class="radio-inline">
      <label>
        {{radio-button name='datatype' value='jsonp' groupValue=model.tracker.data.datatype}}
        JSONP
      </label>
    </div>
    <div class="radio-inline">
      <label>
        {{radio-button name='datatype' value='json' groupValue=model.tracker.data.datatype}}
        JSON
      </label>
    </div>
  </div>
</div>
{{#input-label class="form-group" labelClass="col-sm-2" label="Project" as |labelId|}}
  <div class="col-sm-10">
    {{input id=labelId placeholder='Project Id' value=model.tracker.data.projectId class='form-control' autocomplete='false'}}
  </div>
{{/input-label}}
{{#input-label class="form-group" labelClass="col-sm-2" label="API Key" as |labelId|}}
  <div class="col-sm-10">
    {{input id=labelId placeholder='' value=model.tracker.data.apikey class='form-control' autocomplete='false'}}
    <small>Get your API-Key <a href="{{model.tracker.data.url}}/my/account" target="_blank">here!</a></small>
  </div>
{{/input-label}}
