{{#modal-dialog title=title ok='save' okText='Save' close='closeModal'}}
  <form class="form" {{action 'ok' on='submit' target=view}}>
    <div class="form-group">
      <label for="project">Project</label>
      {{ember-selectize
        id               = 'project'
        content          = allProjects
        selection        = project
        optionLabelPath  = 'content.name'
        optionValuePath  = 'content.id'
        }}
    </div>

    {{#if project.tasks}}
      <div class="form-group">
        <label for="tasks">Tasks <span class="text-muted">(Optional)</span></label>
        {{ember-selectize
          id               = 'task'
          class            = 'form-control'
          contentBinding   = 'project.tasks'
          selection        = tasks
          multiple         = true
          optionLabelPath  = 'content.name'
          optionValuePath  = 'content.id'
          }}
      </div>
    {{/if}}

    <div class="form-group">
      <label for="from">From</label>
      {{date-picker id='from' date=from}}
    </div>
    <div class="form-group">
      <label for="to">To</label>
      {{date-picker id='to' date=to}}
    </div>
    <div class="form-group">
      <label for="duration">Duration <span class="text-muted">(Optional)</span></label>
      {{input id='duration' value=duration class='form-control'}}
    </div>
  </form>
{{/modal-dialog}}
