<form class="form-inline">
  <div class="form-group">
    <button type="button" class="daterange btn btn-default">
      <span class="glyphicon glyphicon-calendar"></span>
      <span>{{date-format momentFrom 'MMMM Do YYYY'}} - {{date-format momentTo 'MMMM Do YYYY'}}</span>
      <span class="caret"></span>
    </button>
  </div>

  <div class="form-group">
    {{ember-selectize
      placeholder     = 'Filter customer'
      id              = 'customer'
      class           = 'form-control'
      content         = customers.content
      value           = customerId
      optionLabelPath = 'content.name'
      optionValuePath = 'content.id'
      select-item     = 'clearProject'
      }}
  </div>

  <div class="form-group">
    {{ember-selectize
      placeholder     = 'Filter project'
      id              = 'project'
      class           = 'form-control'
      content         = filteredProjects
      value           = projectId
      optionLabelPath = 'content.name'
      optionValuePath = 'content.id'
      select-item     = 'clearTasks'
      }}
  </div>

  {{#if project.tasks}}
    <div class="form-group">
      {{ember-selectize
        placeholder     = 'Filter task'
        id              = 'task'
        class           = 'form-control'
        content         = project.tasks
        selection       = tasks
        multiple        = true
        optionLabelPath = 'content.name'
        optionValuePath = 'content.id'
        }}
    </div>
  {{/if}}
</form>

<table class="table">
  <colgroup>
    <col width="1">
    <col>
    <col>
    <col>
    <col width="1">
    <col class="table-button-col">
  </colgroup>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Project</th>
      <th>Task</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each activity in filteredActivities}}
      <tr class={{if activity.review 'danger'}}>
        <td>{{date-format activity.from 'YYYY-MM-DD'}}</td>
        <td>
          {{activity.attendance.user.longName}}
        </td>
        <td>
          <small>
            {{activity.task.project.customer.name}}
            <br>
            {{activity.task.project.name}}
          </small>
        </td>
        <td>
          {{activity.task.name}}<br>
          <small>
            {{activity.comment}}
          </small>
        </td>
        <td class="tar">
          {{date-duration activity.from activity.to}}
        </td>
        <td>
          <button {{action 'openModal' 'activity' activity}} class="btn btn-sm btn-default tip" title="Edit activity">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
