<nav id="navbar" class="nav-top">
    <header class="nav-top-header">
      <button class="nav-toggle nav-top-toggle" onclick="this.parentNode.parentNode.classList.toggle('nav-top--expand')">
        <span class="nav-toggle-icon"></span>
      </button>
      {{#link-to 'index'}}
        <div class="clock nav-top-header-logo">
          <div class="hour"></div>
          <div class="minute"></div>
          <div class="second"></div>
        </div>
        <div class="nav-top-header-title">
          Timed
        </div>
      {{/link-to}}
    </header>
    <section class="nav-top-body">
      <ul class="nav-top-list">
        <li class="nav-top-list-item">
          {{#link-to 'project'}}Projects{{/link-to}}
        </li>

        <li class="nav-top-list-item">
          {{#link-to 'customer'}}Customers{{/link-to}}
        </li>

        <li class="nav-top-list-item">
          {{#link-to 'team'}}Teams{{/link-to}}
        </li>

        <li class="nav-top-list-item">
          {{#link-to 'user'}}Users{{/link-to}}
        </li>

        <li class="nav-top-list-item">
          {{#link-to 'activity'}}Activities{{/link-to}}
        </li>

        <li class="nav-top-list-item">
          {{#link-to 'about'}}About{{/link-to}}
        </li>
      </ul>
      <ul class="nav-top-list nav-top-list--right">
        {{#if session.isAuthenticated}}
          <li class="nav-top-list-item">
            {{#link-to 'user.edit' session.user}}
              {{session.user.name}}
            {{/link-to}}
          </li>
          <li class="nav-top-list-item">
            <a class="pointer" {{action 'invalidateSession'}}>
              <i class="fa fa-power-off"></i> Logout
            </a>
          </li>
        {{else}}
          <li class="nav-top-list-item">
            {{#link-to 'login'}}Login{{/link-to}}
          </li>
        {{/if}}
      </ul>
    </section>
</nav>

<main id="main" class="page-main">
  <section class="page-content">
    {{outlet}}
  </section>
</main>

{{ember-notify messageStyle='bootstrap'}}
{{outlet 'modal'}}

<div class="app-version">{{application.name}} {{application.version}}</div>
