<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <div class="clock">
          <div class="hour"></div>
          <div class="minute"></div>
          <div class="second"></div>
        </div>
        Timed
      {{/link-to}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        {{#active-link}}
          {{#link-to 'project'}}Projects{{/link-to}}
        {{/active-link}}

        {{#active-link}}
          {{#link-to 'customer'}}Customers{{/link-to}}
        {{/active-link}}

        {{#active-link}}
          {{#link-to 'team'}}Teams{{/link-to}}
        {{/active-link}}

        {{#active-link}}
          {{#link-to 'user'}}Users{{/link-to}}
        {{/active-link}}

        {{#active-link}}
          {{#link-to 'activity'}}Activities{{/link-to}}
        {{/active-link}}

        {{#active-link}}
          {{#link-to 'about'}}About{{/link-to}}
        {{/active-link}}
      </ul>
      <ul class="navbar-nav nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a class="dropdown-toggle pointer" data-toggle="dropdown">
              {{session.user.name}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#active-link}}
                {{#link-to 'user.edit' session.user}}Edit profile{{/link-to}}
              {{/active-link}}
              <li><a class="pointer" {{action 'invalidateSession'}}>Logout</a></li>
            </ul>
          </li>
        {{else}}
          {{#active-link}}
            {{#link-to 'login'}}Login{{/link-to}}
          {{/active-link}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<main id="main" class="container">{{liquid-outlet}}</main>

{{ember-notify messageStyle='bootstrap'}}
{{outlet 'modal'}}

<div class="app-version">{{app.name}} {{app.version}}</div>
