<h2>Activities</h2>

<table class="table">
  <colgroup>
    <col>
    <col class="table-button-col">
  </colgroup>
  <tbody>
    <tr>
      <td class="bt0">
        {{date-picker date=view.day class='input-sm'}}
      </td>
      <td class="bt0">
        <button {{action 'openModal' 'attendance' view.day}} class="btn btn-sm btn-default tip" title="Add attendance">
          <span class="fa fa-plus"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

{{#each view.attendances as |attendance|}}
  <table class="table attendance-list-attendance">
    <colgroup>
      <col>
      <col>
      <col>
      <col class="table-button-col">
      <col class="table-button-col">
    </colgroup>
    <thead>
      <tr>
        <th colspan="3">
          {{date-format attendance.from 'LT'}}
          {{date-format attendance.to '- LT'}}
          | {{date-duration attendance.from attendance.to 'h[h] mm[m]'}}
        </th>
        <th>
          <button {{action 'openModal' 'activity' attendance}} class="btn btn-sm btn-default tip" title="Add activity">
            <span class="fa fa-plus"></span>
          </button>
        </th>
        <th>
          <button {{action 'openModal' 'attendance' attendance}} class="btn btn-sm btn-default tip" title="Edit attendance">
            <span class="fa fa-edit"></span>
          </button>
        </th>
      </tr>
      <tr>
        <th>Project</th>
        <th>Task</th>
        <th colspan="2" class="tar">Duration</th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="2">Total duration:</th>
        <td colspan="2" class="tar">{{attendance.activityDuration}}</td>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
      {{#each attendance.activities as |activity|}}
        <tr class="attendance-list-activity {{if activity.review 'warning'}} {{if activity.nta 'danger'}}">
          <td>
            <small>
              {{activity.task.project.customer.name}}
              <br>
              {{activity.task.project.name}}
            </small>
          </td>
          <td>
            {{activity.task.name}}<br>
            <small>
              {{activity.comment}}
            </small>
          </td>
          <td class="tar" colspan="2">
            {{date-duration activity.from activity.to}}
          </td>
          <td>
            <button {{action 'openModal' 'activity' activity}} class="btn btn-sm btn-default tip" title="Edit activity">
              <span class="fa fa-pencil"></span>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}
