<h2>Activities</h2>
<div class="form-group">
  {{date-picker date=view.currentDay}}
</div>

{{#if view.attendances}}
  {{#each attendance in view.attendances}}
    <table class="table">
      <colgroup>
        <col width="200">
        <col>
        <col width="120">
        <col width="32">
      </colgroup>
      <thead>
        <tr>
          <th colspan="3">
            {{date-format attendance.from 'hh:mm'}} {{date-format attendance.to '- hh:mm'}}
          </th>
          <th>
            <button {{action 'openModal' 'attendance' attendance}} class="btn btn-sm btn-default tip" title="Edit attendance">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each activity in attendance.activities}}
          <tr>
            <td>
              <small>
                {{activity.task.project.customer.name}}
                <br>
                {{activity.task.project.name}}
              </small>
            </td>
            <td>{{activity.task.name}}</td>
            <td class="tar">
              {{date-duration activity.from activity.to}}
            </td>
            <td>
              <button {{action 'openModal' 'activity' activity}} class="btn btn-sm btn-default tip" title="Edit activity">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
{{/if}}
