<button {{action 'follow'}} class="btn {{if isFollowing 'btn-success' 'btn-default'}} {{btnClass}} tip" title={{title}} data-container="body">
  <span class="fa {{if isFollowing 'fa-check' 'fa-plus-circle'}}"></span>
</button>
