<div class="attendance mbm">
  {{track-attendance user=user}}
</div>

<div class="activity mbm">
  <button {{action 'startNewActivity'}} class="btn btn-default tip" title="Start new activity">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

  {{#if task}}
    {{track-task task=task}}
  {{/if}}

  <div class="dib vam">
    {{#if task}}
      {{task.name}}
    {{else}}
      {{! TODO: task selectize }}
    {{/if}}

    {{#if showCommentField}}
      {{x-editable
        class='pointer small'
        placeholder='Comment activity'
        emptytext='Comment activity'
        value=activity.comment
        setValue='setActivityComment'
        }}
    {{/if}}
  </div>
</div>
