<button {{action 'track'}} class="btn tip {{if isTracking 'btn-danger' 'btn-default'}} {{btnClass}}" title={{title}} data-container="body">
  <span class="fa {{if isTracking 'fa-stop' 'fa-play'}}"></span>
</button>

<span>{{label}}</span>
