<button {{action 'track'}} {{bind-attr class=':btn isTracking:btn-danger:btn-default btnClass :tip'}} title={{title}} data-container="body">
  <span {{bind-attr class=':glyphicon isTracking:glyphicon-record:glyphicon-play'}}></span>
</button>

<span>{{label}}</span>
