<div class="attendance mbm">
  {{track-attendance user=user}}
</div>

<div class="activity mbm">
  <button {{action 'startNewActivity'}} class="btn btn-default tip" title="Start new activity">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

  {{#if task}}
    {{track-task task=task}}

    {{task.name}}
  {{else}}
    {{! TODO: task selectize }}
  {{/if}}

  {{#if showCommentField}}
    {{x-editable
      tagName='span'
      class='pointer'
      placeholder='Comment activity'
      emptytext='Comment activity'
      value=activity.comment
      setValue='setActivityComment'
      }}
  {{/if}}
</div>
