<div class="attendance mbm">
  {{track-attendance user=user}}
</div>

<div class="activity mbm">
  <button {{action 'startNewActivity'}} class="btn btn-default tip" title="Start new activity">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

  {{#unless activity}}
    No activity started yet
  {{else}}
    {{#if task}}
      {{track-task task=task}}
    {{/if}}

    <div class="dib vam">
      {{#if task}}
        {{task.name}}
      {{else}}
        {{ember-selectize
          plugins         = null
          placeholder     = 'Select project'
          optionLabelPath = 'content.name'
          content         = projects
          value           = project
          optionFunction  = projectOption
        }}

        {{#if project}}
          {{ember-selectize
            plugins         = null
            placeholder     = 'Select task'
            content         = project.tasks
            optionLabelPath = 'content.name'
            action          = 'selectTask'
          }}
        {{/if}}
      {{/if}}

      {{#if showCommentField}}
        {{x-editable
          class       = 'pointer small'
          placeholder = 'Comment activity'
          emptytext   = 'Comment activity'
          value       = activity.comment
          setValue    = 'setActivityComment'
          }}
      {{/if}}
    </div>
  {{/unless}}
</div>
