<div class="attendance mbm">
  {{track-attendance user=user}}
</div>

<div class="activity mbm">
  <button {{action 'startNewTask'}} class="btn btn-default tip" title="Start new task">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

  {{#if task}}
    {{track-task task=task}}

    {{task.name}}
  {{else}}
    {{! TODO: task selectize }}
  {{/if}}

  {{#if showCommentField}}
    <span class="edit-comment pointer"></span>
  {{/if}}
</div>
