<button {{action 'track'}} class="btn tip {{if isTracking 'btn-danger' 'btn-default'}} {{btnClass}}" title={{title}} data-container="body">
  <span class="glyphicon {{if isTracking 'glyphicon-record' 'glyphicon-play'}}"></span>
</button>

<span>{{label}}</span>
