{{#modal-dialog title='Edit activity' ok='save' okText='Save' close='closeModal' delete='delete'}}
  <form class="form" {{action 'ok' on='submit' target=view}}>
    <div class="form-group">
      <label for="task">Task</label>
      {{ember-selectize
        id              = 'task'
        plugins         = null
        content         = sortedTasks
        selection       = model.task
        optionGroupPath = 'project.name'
        optionLabelPath = 'content.name'
        optionValuePath = 'content.id'
        }}
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      {{textarea id='comment' value=model.comment class='form-control'}}
    </div>
    <div class="form-group">
      <label for="from">From</label>
      {{input id='from' value=from class='form-control' placeholder=dateFormat}}
    </div>
    <div class="form-group">
      <label for="to">To</label>
      {{input id='to' value=to class='form-control' placeholder=dateFormat}}
    </div>
    <div class="form-group">
      <label for="review">Review</label>
      {{input id='review' type='checkbox' checked=model.review class='form-control'}}
    </div>
    <div class="form-group">
      <label for="nta">Not to account</label>
      {{input id='nta' type='checkbox' checked=model.nta class='form-control'}}
    </div>
  </form>
{{/modal-dialog}}
