<form class="form-horizontal" {{action 'submit' on='submit'}}>
  <h1 class="dib" data-model-id={{model.id}}>
    {{#liquid-if model.isNew use='toUp'}}
      Create customer
    {{else}}
      {{model.name}}
    {{/liquid-if}}
  </h1>

  {{#input-label class="form-group" label="Name" as |labelId|}}
      {{input id=labelId placeholder='Customer name' value=model.name class='form-control' autocomplete='false'}}
  {{/input-label}}
  {{#input-label class="form-group" label="Email" as |labelId|}}
      {{input id=labelId type='email' placeholder='Email' value=model.email class='form-control' autocomplete='false'}}
  {{/input-label}}
  {{#input-label class="form-group" label="Website" as |labelId|}}
      {{input id=labelId type='url' placeholder='Website' value=model.website class='form-control' autocomplete='false'}}
  {{/input-label}}
  {{#input-label class="form-group" label="Comment" as |labelId|}}
      {{textarea id=labelId placeholder='Comment' value=model.comment class='form-control'}}
  {{/input-label}}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      {{#if model.isNew}}
        Create customer
      {{else}}
        Update customer
      {{/if}}
    </button>

    {{#unless model.isNew}}
      {{#delete-button class='pull-right' action='delete'}}
        Delete customer
      {{/delete-button}}
    {{/unless}}
  </div>
</form>
